.container-wrap {
  min-height: 60px;
  height: 100%;
}

.drag-btn {
  cursor: move;
}

.component-wrap {
  border: 1px dashed $borderL4;
  padding: 6px;
}

.node-icon{
  color: #bebfc3;
}

.node-label {
  font-size: 14px;
}
