$brandColor1: #409EFF;
$brandColor2: #53A8FF;
$brandColor3: #D9ECFF;
$brandColor4: #ECF5FF;

$infoColor1: #909399;
$infoColor2: #E9E9EB;
$infoColor3: #F4F4F5;

$borderL1: #DCDFE6;
$borderL2: #DCDFE6;
$borderL3: #DCDFE6;
$borderL4: #DCDFE6;

$textL1: #303133;
$textL2: #606266;
$textL3: #909399;
$textL4: #C0C4CC;
